@charset "UTF-8";

/* noto sans */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("/font/noto-sans-kr/noto-sans-kr-v12-korean-300.eot");
  src: url("/font/noto-sans-kr/noto-sans-kr-v12-korean-300.eot?#iefix")
      format("embedded-opentype"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-300.woff2") format("woff2"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-300.woff") format("woff"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-300.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/font/noto-sans-kr/noto-sans-kr-v12-korean-regular.eot");
  src: url("/font/noto-sans-kr/noto-sans-kr-v12-korean-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-regular.woff2")
      format("woff2"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-regular.woff")
      format("woff"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("/font/noto-sans-kr/noto-sans-kr-v12-korean-500.eot");
  src: url("/font/noto-sans-kr/noto-sans-kr-v12-korean-500.eot?#iefix")
      format("embedded-opentype"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-500.woff2") format("woff2"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-500.woff") format("woff"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-500.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("/font/noto-sans-kr/noto-sans-kr-v12-korean-700.eot");
  src: url("/font/noto-sans-kr/noto-sans-kr-v12-korean-700.eot?#iefix")
      format("embedded-opentype"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-700.woff2") format("woff2"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-700.woff") format("woff"),
    url("/font/noto-sans-kr/noto-sans-kr-v12-korean-700.ttf") format("truetype");
}
* {
  /* word-break: keep-all; */
  font-family: "Noto Sans KR", sans-serif;
  /* font-weight: 300; */
}
